.root {
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;
  align-items: flex-start;
}

.area {
  color: grey;
}

.roles {
  flex: 1;
  margin-right: 10px;
}

.booked {
  flex: 2;
  color: grey;
  margin-right: 10px;
}